{% extends "base.html" %}

{% block content %}
<h1 class='title is-1'>Code Haven Sticker Sheet</h1>
{% for class in classrooms %}
<div class="columns">
    <a class="column is-4" href='/class/{{class.classCode}}'>{{class.classInfo.teacher}} | {{class.classInfo.school}}<a>
    <div> 
        <form class="column" method="post">
            <input value ={{ class.classCode }} type="hidden" name="classCode">
            <input class='input is-fullwidth' name="amount" placeholder="Number of stickers" />
            <button class="button is-primary" type="submit">Change Stickers</button>
        </form>
    </div>
    <p class="column is-2">Stickers: {{ class.stickers }}</p>
</div>
{% endfor %}

{% endblock %}